@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    font-family: 'Inter', sans-serif;
    background-color: rgba(250,250,250, 1);
}

.button {
    width: fit-content;
    height: fit-content;
    border-radius: 0.4rem;
    padding: 0.8rem 1.5rem;
    background-color: rgba(76, 175, 79, 1);
    text-decoration: none;
    color: rgba(250,250,250, 1);
    font-weight: 500;
}

/* header start*/

header {
    width: 100%;
    padding: 1.8rem 9rem;
    background-color: rgba(245, 247, 250, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

header a {
    text-decoration: none;
    color: rgba(24, 25, 31, 1);
    font-weight: 400;
} 


nav {
    display: flex;
    gap: 3rem;
}

nav a:hover {
    color: rgba(76, 175, 79, 1);
    transition: 0.5s;
}

.login {
    color: rgba(76, 175, 79, 1);
    background: none;
    font-weight: 700;
    font-size: 0.8rem;

}

.sign-up {
    margin-left: 2rem;
    font-size: 0.8rem;
}

#menu {
    display: none;
}

/* header end */


/* hero section start */

.hero-section, .hero-text, .hero-text div {
    display: flex;
}

.hero-section {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 35rem;
    padding: 25rem 9rem;
    background-color: rgba(245, 247, 250, 1);
    margin-top: 5rem;
}

.hero-text {
    width: 100%;
    height: 17.25rem;
    flex-direction: column;
    gap: 2rem;
}

.hero-text div {
    flex-direction: column;
    height: 12rem;
    gap: 1rem;
}

.hero-text div h1 {
    font-size: 4rem;
    font-weight: 600;
}

.hero-text div p {
    font-weight: 400;
    color: rgba(113, 113, 113, 1);
}

.register {
    margin-top: 2rem;
}

.illustration {
    width: 25rem;
    height: 26rem;
}

/* hero section end */

/* services setion start */

.services, .services-group, .group-item, .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.services {
    flex-direction: column;
    padding: 3rem 9rem;
    margin: 6rem 0;
    gap: 4rem;
}

.services-group {
    width: 100%;
    justify-content: space-between;
} 

.group-item, .heading{
    flex-direction: column;
    gap: 1rem;
}

.heading h2 {
    font-size: 2.2rem;
    font-weight: 600;
}

.group-item h4 {
    font-size: 1.5rem;
    font-weight: 500;
}

/*  */

.section, .section-text {
    display: flex;
    justify-content: space-between;
}

.section-text {
    width: 41rem;
    height: 17rem;
    flex-direction: column;
}

.section-a, .section-b {
    padding: 3rem 20rem;
    margin: 9rem 0;
    align-items: center;
}

.section-c {
    padding: 6rem 9rem;
    margin: 9rem 0;
    align-items: center;
}

.section-c .image {
    width: 326px;
    height: 326px;
    margin-right: 3rem;
}

.section-c-text {
    height: 324px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.customers, .customer-logo, .meet-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.customers {
    width: 100%;
}

.customer-logo {
    width: 70%;
}

.meet-button {
    width: fit-content;
}

.meet-button a {
    font-size: 16px;
}

/*  */

.report {
    align-items: flex-start;
    padding: 6rem 9rem;
    background-color: rgba(245, 247, 250, 1);
}

.report-text {
    align-self: center;
    height: 10rem;
    width: 540px;
}

.report-text h2 {
    margin-bottom: 1.5rem;
}

.report-group {
    height: 10rem;
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    /* grid-template-rows: repeat(2, 1fr); */
    column-gap: 10rem;
    row-gap: 3rem;
}

.report-item {
    width: 255px;
    display: flex;
    gap: 1.5rem;
    align-items: flex-start;

}

.report-item p {
    color: rgba(24, 25, 31, 1);
    font-weight: 400;
    font-size: small;
    margin-top: 0.5rem;
}

/*  */

.manage-heading {
    padding: 0 30rem;
}

.manage-heading p {
    color: rgba(113, 113, 113, 1);
}

.manage-heading h2 {
    font-size: 36px;
}

.manage {
    position: relative;
}

.image-background {
    width: 368px;
    height: 286px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 317px;
    height: 150px;
    background-color: rgba(245, 247, 250, 1);
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0px 8px 16px rgba(171, 190, 209, 0.4);
    position: absolute;
    top: 70%;
}

.demo {
    text-align: center;
    padding: 9rem 25rem;
    justify-items: center;
    gap: 6rem;
}

.demo h1 {
    font-size: 48px;
    margin-bottom: 3rem;
}

.demo a {
    color: rgba(255, 255, 255, 1);
}

/* footer */

footer, .footer-group, .social {
    display: flex;
    flex-direction: row;
}

footer {
    background-color: rgba(38, 50, 56, 1);
    color: rgba(255, 255, 255, 1);
    padding: 64px 9rem;
    justify-content: space-between;
}

.footer-group {
    width: 750px;
    justify-content: space-between;
}

.footer-item, .links {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.footer-item {
    gap: 2rem;
}

.footer-item h5 {
    font-size: 20px;
    font-weight: 600;
}

.links {
    gap: 1rem;
}

.links a, .footer-item p {
    text-decoration: none;
    font-size: 14px;
    color: rgba(245, 247, 250, 0.5);
}

.social i {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
}

.email-field {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.email-field form {
    height: 2.5rem;
    padding-right: 1.5rem;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
}

.email-field input {
    width: 100%;
    padding: 0.6rem 1.5rem;
    border: none;
    background: none;
}

input::placeholder {
    color: rgba(255, 255, 255, 1);
}

.footer-mobile {
    display: none;
}

/* meddia query */


@media screen and (max-width: 600px) {

    .button {
        padding: 0.8rem 1rem;
        font-size: 14px;
    }

    header {
        width: 100vw;
        padding: 1rem 2rem;
    }

    nav, .nav-buttons {
       display: none;
    }

    #menu {
        display: block;
    }

    #menu:hover {
        color: rgba(76, 175, 79, 1);
        transition: 0.5s;
    }

    .hero-section {
        padding: 1rem 2rem;
        text-align: center;
        height: fit-content;
        gap: 5rem;
    }
    
    .hero-section, .hero-text, .hero-text div {
        flex-direction: column;
    }

    .hero-text {
        align-items: center;
    }

    .illustration {
        width: 17rem;
        height: 17rem;
    }

    .hero-text div h1 {
        font-size: 2rem;
    }
    
    .services {
        padding: 1rem 2rem;
        margin: 7rem 0;
        gap: 5rem;
    }
    
    .services-group {
        flex-direction: column;
        gap: 5rem;
    } 
    
    .group-item, .heading{
        flex-direction: column;
        gap: 1rem;
    }
    
    .heading h2 {
        font-size: 2rem;
    }
    
    .group-item h4 {
        font-size: 1.3rem;
    }

    .section {
        flex-direction: column-reverse;
        gap: 3rem;
        padding: 1rem 2rem;
        margin: 3rem 0;
        justify-content: center;
        align-items: center;
        margin: 7rem 0;
    }
    
    .section-text {
        width: fit-content;
        height: fit-content;
        text-align: center;
        align-items: center;
        gap: 2rem;
    }
    
    .section-c {
        padding: 1rem 2rem;
        flex-direction: column;
    }
    
    .section-c .image {
        width: 300px;
        height: 300px;
        margin: 0;
    }
    
    .section-c-text {
        height: fit-content;
        width: 100%;
        gap: 3rem;
    }

    .customers {
        flex-direction: column;
        gap: 1rem;
    }

    .customer-logo {
        width: 100%;
        gap: 1rem;
    }

    .customer-logo img {
        width: 35px;
        height: 35px;
    }

    .report {
        padding: 1rem 2rem;
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }
    
    .report-text {
        text-align: center;
        height: fit-content;
        width: fit-content;
        gap: 4rem;
    }
    
    .report-text h2 {
        margin-bottom: 1rem;
    }

    .report-item h2 {
        font-size: 16px;
    }
    
    .report-group {
        height: fit-content;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        row-gap: 2rem;
    }
    
    .report-item {
        width: fit-content;
    }

    .report-item img {
        width: 35px;
        height: 35px;
    }

    .manage-heading {
        padding: 0;
    }
    
    .manage-heading h2 {
        font-size: 2rem;
    }
    
    .image-background {
        width: 300px;
        height: 250px;
    }

    .card {
        width: 250px;
        height: 150px;
        position: absolute;
        top: 50%;
    }

    .demo {
        padding: 0rem 2rem;
        margin-bottom: 5rem;
    }
    
    .demo h1 {
        font-size: 24px;
    }

    footer {
        display: none;
    }

    .footer-mobile {
        padding: 4rem 2rem;
        display: block;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .footer-logo {
        text-align: center;
        align-items: center;
    }

    .email, .email-field, form, input {
        width: 100%;
    }

    .email-field {

    }
}


/* @media screen and (max-width: 768px){

    header {
        padding: 1.8rem 6rem;
    }

    nav {
        gap: 2rem;
        width: fit-content;
    }

    main {
        width: 100%;
    }
    
    .hero-section {
        padding: 5rem 6rem;
    }
    
    .hero-text div h1 {
        font-size: 2.2rem;
    } */
    
    
    /* .hero-section img {
        display: none;
        width: 25rem;
        height: 26rem;
    } */
    
}












